.main-about{
background-color: #DDD0C8;
}

.container{
    margin: auto;
}

.section_2{
    width: 75%;
    margin: auto;
    padding: 60px 0;
    color: black;
}

.sectionAbout-us_title{
    font-family: 'roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 25px 0; 
    
}

.us{
    display: flex;
    flex-direction: column;
}

.us-text{
    width: 80%;
    padding: 0 5% 0 0;
}

.us-paragraph{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 10px; /* Espacio alrededor del texto para mayor legibilidad */
}

.paragraph-text{
    margin: 2% 0;
}

.us-rs{
    margin: 10px 0;
}

.us-rs-title{
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.rs-link{
    margin: 0 10px;
}

.us-video{
    margin-right: 5%;
}

.fb-video{
    display: block; /* Asegura que el video sea un elemento de bloque */
    margin: auto; /* Centra el video horizontalmente */
    max-width: 100%; /* Asegura que el video no exceda el ancho del contenedor */
    padding-right: 100px;
}

.rs-icon .fa-facebook, .rs-icon .fa-square-instagram {
    font-size: 80px; /* Ajusta este valor al tamaño deseado */
    color: #000; /* Ajusta este valor al color deseado */
}
