/* Define el color de fondo marrón para el footer */
.footer {
    background-color: #4b3219; /* Color marrón */
    color: white; /* Color del texto */
    padding: 50px 0; /* Añadir un poco de relleno para el espaciado */
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Estilo para la información de contacto */
.contact-info {
    list-style-type: none;
    padding-left: 0;
}

/* Estilo para el contenedor del logo */
.logo-container {
    text-align: right; /* Alinea el logo a la derecha */
}

/* Estilo para el logo */
.logo-container img {
    max-width: 250px; /* Ancho máximo del logo */
}

/* Estilo para los íconos de redes sociales */
.social-icons {
    list-style-type: none;
    padding-left: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px; /* Añadir espaciado entre los íconos */
}

.social-icons li a {
    color: white; /* Color del ícono */
    font-size: 20px;
}

/* Estilo para los encabezados del footer */
h4 {
    font-size: 20px;
    margin-bottom: 20px; /* Añadir espaciado entre los encabezados */
}
