.main-about{
  background-color: #DDD0C8;
  }
  
  .container{
      margin: auto;
  }
  
  .section_2{
      width: 75%;
      margin: auto;
      padding: 60px 0;
      color: black;
  }
  
  .sectionAbout-us_title{
      font-family: 'roboto', sans-serif;
      font-size: 40px;
      font-weight: bold;
      margin: 25px 0; 
      
  }
  
  .us{
      display: flex;
      flex-direction: column;
  }
  
  .us-text{
      width: 80%;
      padding: 0 5% 0 0;
  }
  
  .us-paragraph{
      font-family: 'roboto', sans-serif;
      font-size: 18px;
      text-align: justify;
      padding: 10px; /* Espacio alrededor del texto para mayor legibilidad */
  }
  
  .paragraph-text{
      margin: 2% 0;
  }
  
  .us-rs{
      margin: 10px 0;
  }
  
  .us-rs-title{
      font-family: 'roboto', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
  }
  
  .rs-link{
      margin: 0 10px;
  }
  
  .us-video{
      margin-right: 5%;
  }
  
  .fb-video{
      display: block; /* Asegura que el video sea un elemento de bloque */
      margin: auto; /* Centra el video horizontalmente */
      max-width: 100%; /* Asegura que el video no exceda el ancho del contenedor */
      padding-right: 100px;
  }
  
  .rs-icon .fa-facebook, .rs-icon .fa-square-instagram {
      font-size: 80px; /* Ajusta este valor al tamaÃ±o deseado */
      color: #000; /* Ajusta este valor al color deseado */
  }
  /* Define el color de fondo marrÃ³n para el footer */
.footer {
  background-color: #4b3219; /* Color marrÃ³n */
  color: white; /* Color del texto */
  padding: 50px 0; /* AÃ±adir un poco de relleno para el espaciado */
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Estilo para la informaciÃ³n de contacto */
.contact-info {
  list-style-type: none;
  padding-left: 0;
}

/* Estilo para el contenedor del logo */
.logo-container {
  text-align: right; /* Alinea el logo a la derecha */
}

/* Estilo para el logo */
.logo-container img {
  max-width: 250px; /* Ancho mÃ¡ximo del logo */
}

/* Estilo para los Ã­conos de redes sociales */
.social-icons {
  list-style-type: none;
  padding-left: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px; /* AÃ±adir espaciado entre los Ã­conos */
}

.social-icons li a {
  color: white; /* Color del Ã­cono */
  font-size: 20px;
}

/* Estilo para los encabezados del footer */
h4 {
  font-size: 20px;
  margin-bottom: 20px; /* AÃ±adir espaciado entre los encabezados */
}
.contact-form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
}

.contact-form-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
}

.contact-form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.contact-form-container .form-group {
  margin-bottom: 15px;
}

.contact-form-container .form-group label {
  margin-bottom: 5px;
  display: block;
}

.contact-form-container .form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form-container textarea.form-control {
  resize: none;
  height: 100px;
}

.contact-form-container button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact-form-container button:hover {
  background-color: #555;
}

.contact-form-container #response-message.success {
  color: green;
}

.contact-form-container #response-message.error {
  color: red;
}

.form-control{
  margin-left: 10px;
}
.navbar{
  background-color: #323232;
  height: 60px;
  margin: 0 auto;
  padding: 0.5rem;
}

.navbar.scrolled {
  background-color: #323232;
}

.navbar-brand{
  font-weight: 500;
  color: #DDD0C8;
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-toggler{
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
box-shadow: none;
outline: none;
}

.nav-link{
  color: #666777; /* Color de los enlaces no activos */
  font-weight: 500;
  position: relative;
}

.nav-link:hover, .nav-link.active{
  color: #DDD0C8;
}

@media (min-width: 991px) {
  .nav-link::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #DDD0C8;
      visibility: hidden;
      transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before, .nav-link.active::before{
      width: 100%;
      visibility: visible;
  }
}
.main-parcelas {
  padding-top: 50px;
}

.row{
width: 90%;
}

.main-parcelas h2,
.card-title,
.card-text {
  text-align: center;
  margin-top: 5px; 
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 2px;
}


.custom-card {
  height: 100%;
}

.card-body {
  width: 100%;
  height: 160px; /* ajustar al tamaÃ±o deseado */
  object-fit: cover; /* asegura que la imagen se ajuste al contenedor sin distorsionar */
  padding-top: 5px;
  
}

.card-img-top{
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text{
  margin-bottom: 1px;
}

.section_3-title{
  font-family: 'roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 25px 0; 
  
}

.card-body .btn-center {
  display: flex;
  
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* animaciÃ³n del botÃ³n Consultar */
.card .btn {
  position: relative;
  overflow: hidden;
}

.card .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  transition: all 0.5s ease;
}

.card:hover .btn::before {
  left: 100%;
}
.containerquestion {
  width: 100%;
  margin: 0 auto;
  text-align: center; /* Centra los textos */
  padding-top: 40px;
  padding-right: 10%;
  padding-left: 5%;
  
}

.containerquestion .row{
  margin: 0 auto;
  margin-top: 35px;
  text-align: center; /* Centra los textos */
}

.container-faq {
  box-shadow: 0 0 15px -1px rgba(0,0,0,.1);
  margin-top: 20px;
  border-radius: 10px;
  text-align: center; /* Centra los textos */
  margin-left: 5%;
  margin-right: 5%;
}

.container-faq .tittle-faq {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.container-faq .item-faq {
  box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
  margin-bottom: 20px;
  border-radius: 10px;
}

.container-faq .item-faq .question {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(43, 51, 122, .2);
  padding: 20px 20px 20px 80px;
  transition: .4s;
}

.container-faq .item-faq .question .more {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px -1px rgba(0,0,0,.2);

  font-size: 1rem;
  cursor: pointer;
  transition: .4s;
}

.container-faq .item-faq .question .more:hover {
  box-shadow: 0 0 15px -1px rgba(0,0,0,.4);
}

.container-faq .item-faq .question span {
  position: absolute;
  left: 10px;
  font-size: 3rem;
  top: 10px;
  opacity: .1;
}

.container-faq .item-faq .answer {
  position: relative;
  padding: 0 20px 0 80px;
  overflow: hidden;
  height: 0;
  transition: .4s;
  
  text-align: center; /* Centra los textos */
}

.container-faq .item-faq .answer p {
  font-size: 1.3rem;
  text-align: center; /* Centra los textos */
}

.container-faq .item-faq .answer span {
  position: absolute;
  font-size: 3rem;
  top: -10px;
  opacity: .2;
}

.container-faq .item-faq .question h3 {
  margin: 0; /* Ajusta el margen para el tÃ­tulo h3 */
  text-align: center; /* Centra los textos */
}
/* Menu superior */
body.index-page .navbar {
  background-color: #191617; /* Cambia el color de fondo del menÃº */
}

body.index-page .navbar .navbar-brand {
  color: white;
}


body.index-page .navbar-toggler {
  border-color: white; /* Cambia el color del borde del botÃ³n de navegaciÃ³n */
}

body.index-page .navbar-toggler-icon {
  background-image: url('ruta/a/tu/imagen'); /* Cambia la imagen del icono del botÃ³n de navegaciÃ³n */
}

/* Cambia el estilo de los enlaces del menÃº */
body.index-page .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

/* Cambia el estilo del enlace activo en el menÃº */
body.index-page .navbar-nav .nav-link.active {
  color: #fff; /* Cambia el color del texto del enlace activo */
  background-color: white; /* Cambia el color de fondo del enlace activo */
}

/* Slider */
body.index-page #carouselExampleControls {
  width: 100%;
  height: 100vh; /* establece una altura especÃ­fica */
}

body.index-page .carousel-inner {
  overflow: hidden; /* Para ocultar cualquier contenido que se extienda mÃ¡s allÃ¡ del borde redondeado */
}

body.index-page #carouselExampleControls .carousel-inner {
  height: 100%;
  display: flex; /* Utiliza flexbox para alinear y distribuir las imÃ¡genes */
}

body.index-page #carouselExampleControls .carousel-inner img {
width: 100%;
height: 100%;
object-fit: cover;

}

body.index-page .carousel-item img {
width: 100%;
max-height: 100vh;
object-fit: cover;
}

body.index-page .carousel-title-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 10; /* Aumenta el valor de z-index */
text-align: center; /* Alinea el contenido al centro */
}

body.index-page .carousel-title {
color: white;
font-weight: bold;
text-align: right;
font-family:'Open Sans', sans-serif;
font-weight: bold;
text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.5);
font-family: 'Open Sans', sans-serif;
text-align: center; /* Centra el texto horizontalmente */
color: #fff; /* Color del texto (blanco en este caso) */
font-weight: bold; /* Peso de la fuente */
margin-bottom: 120px;
background-color: transparent; /* Establece el fondo como transparente */
}

/* Define una animaciÃ³n para el tÃ­tulo del carrusel */
@keyframes fadeInUp {
from {
    opacity: 0;
    transform: translateY(60px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

/* AplicaciÃ³n de animaciÃ³n al tÃ­tulo del carrusel */
body.index-page .carousel-caption h2 {
animation: fadeInUp 0.5s ease forwards; /* AnimaciÃ³n 'fadeInUp' durante 0.5 segundos */
opacity: 0; /* Inicia con una opacidad de 0 para el efecto de desvanecimiento */
}

/* Asegura que la animaciÃ³n solo se aplique una vez */
body.index-page .carousel-caption {
animation: none; /* Deshabilita la animaciÃ³n en el contenedor principal */
}

/* Agrega retrasos de animaciÃ³n para cada elemento del carrusel */
body.index-page .carousel-item:nth-child(1) .carousel-caption h2 {
animation-delay: 0.5s; /* Retrasa la animaciÃ³n del primer tÃ­tulo en 0.5 segundos */
}

body.index-page .carousel-item:nth-child(2) .carousel-caption h2 {
animation-delay: 1s; /* Retrasa la animaciÃ³n del segundo tÃ­tulo en 1 segundo */
}

body.index-page .carousel-item:nth-child(3) .carousel-caption h2 {
animation-delay: 1s; /* Retrasa la animaciÃ³n del tercer tÃ­tulo en 1 segundos */
}

body.index-page .carousel-item:nth-child(4) .carousel-caption h2 {
animation-delay: 1s; /* Retrasa la animaciÃ³n del cuarto tÃ­tulo en 1 segundos */
}


.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001
}

.fb_reposition {
  overflow: hidden;
  position: relative
}

.fb_invisible {
  display: none
}

.fb_reset {
  background: none;
  border: 0px;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal
}

.fb_reset>div {
  overflow: hidden
}

@keyframes fb_transform {
  from {
      opacity: 0;
      transform: scale(.95)
  }

  to {
      opacity: 1;
      transform: scale(1)
  }
}

.fb_animate {
  animation: fb_transform .3s forwards
}

.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001
}

.fb_reposition {
  overflow: hidden;
  position: relative
}

.fb_invisible {
  display: none
}

.fb_reset {
  background: none;
  border: 0px;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal
}

.fb_reset>div {
  overflow: hidden
}

@keyframes fb_transform {
  from {
      opacity: 0;
      transform: scale(.95)
  }

  to {
      opacity: 1;
      transform: scale(1)
  }
}

.fb_animate {
  animation: fb_transform .3s forwards
}

.fb_dialog {
  background: rgba(82, 82, 82, .7);
  position: absolute;
  top: -10000px;
  z-index: 10001
}

.fb_dialog_advanced {
  border-radius: 8px;
  padding: 10px
}

.fb_dialog_content {
  background: #fff;
  color: #373737
}

.fb_dialog_close_icon {
  background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon {
  left: 5px;
  right: auto;
  top: 5px
}

.fb_dialog_padding {
  background-color: transparent;
  position: absolute;
  width: 1px;
  z-index: -1
}

.fb_dialog_close_icon:hover {
  background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
}

.fb_dialog_close_icon:active {
  background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
}

.fb_dialog_iframe {
  line-height: 0
}

.fb_dialog_content .dialog_title {
  background: #6d84b4;
  border: 1px solid #365899;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0
}

.fb_dialog_content .dialog_title>span {
  background: url(https://connect.facebook.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
  float: left;
  padding: 5px 0 7px 26px
}

body.fb_hidden {
  height: 100%;
  left: 0px;
  margin: 0px;
  overflow: visible;
  position: absolute;
  top: -10000px;
  transform: none;
  width: 100%
}

.fb_dialog.fb_dialog_mobile.loading {
  background: url(https://connect.facebook.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered {
  background: none;
  height: auto;
  min-height: initial;
  min-width: initial;
  width: auto
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
  width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
  background: none
}

.loading.centered #fb_dialog_loader_close {
  clear: both;
  color: #fff;
  display: block;
  font-size: 18px;
  padding-top: 20px
}

#fb-root #fb_dialog_ipad_overlay {
  background: rgba(0, 0, 0, .4);
  bottom: 0;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden {
  display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe {
  visibility: hidden
}

.fb_dialog_mobile .fb_dialog_iframe {
  position: sticky;
  top: 0
}

.fb_dialog_content .dialog_header {
  background: linear-gradient(from(#738aba), to(#2c4987));
  border-bottom: 1px solid;
  border-color: #043b87;
  box-shadow: white 0px 1px 1px -1px inset;
  color: #fff;
  font: bold 14px Helvetica, sans-serif;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 30, 84, .296875) 0px -1px 0px;
  vertical-align: middle;
  white-space: nowrap
}

.fb_dialog_content .dialog_header table {
  height: 43px;
  width: 100%
}

.fb_dialog_content .dialog_header td.header_left {
  font-size: 12px;
  padding-left: 5px;
  vertical-align: middle;
  width: 60px
}

.fb_dialog_content .dialog_header td.header_right {
  font-size: 12px;
  padding-right: 5px;
  vertical-align: middle;
  width: 60px
}

.fb_dialog_content .touchable_button {
  background: linear-gradient(from(#4267B2), to(#2a4887));
  background-clip: padding-box;
  border: 1px solid #29487d;
  border-radius: 3px;
  display: inline-block;
  line-height: 18px;
  margin-top: 3px;
  max-width: 85px;
  padding: 4px 12px;
  position: relative
}

.fb_dialog_content .dialog_header .touchable_button input {
  background: none;
  border: none;
  color: #fff;
  font: bold 12px Helvetica, sans-serif;
  margin: 2px -12px;
  padding: 2px 6px 3px 6px;
  text-shadow: rgba(0, 30, 84, .296875) 0px -1px 0px
}

.fb_dialog_content .dialog_header .header_center {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  vertical-align: middle
}

.fb_dialog_content .dialog_content {
  background: url(https://connect.facebook.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
  border: 1px solid #4a4a4a;
  border-bottom: 0;
  border-top: 0;
  height: 150px
}

.fb_dialog_content .dialog_footer {
  background: #f5f6f7;
  border: 1px solid #4a4a4a;
  border-top-color: #ccc;
  height: 40px
}

#fb_dialog_loader_close {
  float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
  visibility: hidden
}

#fb_dialog_loader_spinner {
  animation: rotateSpinner 1.2s linear infinite;
  background-color: transparent;
  background-image: url(https://connect.facebook.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px
}

@keyframes rotateSpinner {
  0% {
      transform: rotate(0deg)
  }

  100% {
      transform: rotate(360deg)
  }
}

.fb_iframe_widget {
  display: inline-block;
  position: relative
}

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify
}

.fb_iframe_widget iframe {
  position: absolute
}

.fb_iframe_widget_fluid_desktop,
.fb_iframe_widget_fluid_desktop span,
.fb_iframe_widget_fluid_desktop iframe {
  max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe {
  min-width: 220px;
  position: relative
}

.fb_iframe_widget_lift {
  z-index: 1
}

.fb_iframe_widget_fluid {
  display: inline
}

.fb_iframe_widget_fluid span {
  width: 100%
}